<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.iotlighting.mapper.TerAlertSystemMapper">

    <resultMap type="TerAlertSystem" id="TerAlertSystemResult">
        <result property="id" column="id"/>
        <result property="terSn" column="ter_sn"/>
        <result property="alertType" column="alert_type"/>
        <result property="sensorType" column="sensor_type"/>
        <result property="wifiType" column="wifi_type"/>
        <result property="wifiSsid" column="wifi_ssid"/>
        <result property="gatewayName" column="gateway_name"/>
        <result property="buildingId" column="building_id"/>
        <result property="floorId" column="floor_id"/>
        <result property="createTime" column="create_time"/>
        <result property="createTimeDate" column="create_time_date"/>
        <result property="createTimeTime" column="create_time_time"/>
        <result property="pointId" column="point_id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="dealFlag" column="deal_flag"/>
        <result property="dealTime" column="deal_time"/>
        <result property="buildingName" column="building_name"/>
        <result property="floorName" column="floor_name"/>
        <result property="floorLength" column="floor_length"/>
        <result property="floorWidth" column="floor_width"/>
        <result property="backgroundImgId" column="background_img_id"/>
        <result property="pointName" column="point_name"/>
        <result property="block" column="block"/>
        <result property="zone" column="zone"/>
        <result property="zoneSub" column="zone_sub"/>
        <result property="pointX" column="point_x"/>
        <result property="pointY" column="point_y"/>
    </resultMap>

    <sql id="selectTerAlertSystemVo">
        select tas.id,
               tas.ter_sn,
               tas.alert_type,
               tas.sensor_type,
               tas.building_id,
               tas.floor_id,
               tas.create_time,
               tas.create_time as create_time_date,
               tas.create_time as create_time_time,
               tas.point_id,
               tas.del_flag,
               tas.deal_flag,
               tas.deal_time,
               tas.wifi_type,
               tg.wifi_ssid,
               tg.name            gateway_name,
               bi.name         as building_name,
               bfi.floor_name  as floor_name,
               bfi.background_img_id,
               bfi.floor_length,
               bfi.floor_width,
               bpi.point_name  as point_name,
               bpi.block,
               bpi.zone,
               bpi.zone_sub,
               bpi.point_y,
               bpi.point_x
        from ter_alert_system tas
                 left join building_info bi on tas.building_id = bi.id
                 left join building_floor_info bfi on tas.floor_id = bfi.id
                 left join building_point_info bpi on tas.point_id = bpi.id
                 left join ter_gateway tg on tas.ter_sn = tg.sn
                 inner join sys_dept d on bi.dept_id = d.dept_id
    </sql>

    <select id="listTerAlertSystem" resultMap="TerAlertSystemResult">
        select t.* from (
        <include refid="selectTerAlertSystemVo"/>
        where 1=1
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        <if test="dealFlag != null  and dealFlag != ''">and tas.deal_flag = #{dealFlag}</if>
        <if test="alertType != null  and alertType != ''">and tas.alert_type = #{alertType}</if>
        <if test="buildingId != null">and tas.building_id = #{buildingId}</if>
        <if test="floorId != null">and tas.floor_id = #{floorId}</if>
        <if test="block != null">and bpi.block = #{block}</if>
        <if test="zone != null">and bpi.zone = #{zone}</if>
        <if test="zoneSub != null">and bpi.zone_sub = #{zoneSub}</if>
        <if test="createTime != null">and DATE_FORMAT(tas.create_time,'%Y-%m-%d') = STR_TO_DATE(#{createTime},
            '%Y-%m-%d')
        </if>
        <if test="createTimeStart != null">and DATE_FORMAT(tas.create_time,'%Y-%m-%d') <![CDATA[ >= ]]>
            STR_TO_DATE(#{createTimeStart},
            '%Y-%m-%d')
        </if>
        <if test="createTimeEnd != null">and DATE_FORMAT(tas.create_time,'%Y-%m-%d') <![CDATA[ <= ]]>
            STR_TO_DATE(#{createTimeEnd},
            '%Y-%m-%d')
        </if>
        order by
        <if test="checkAlertType != null and checkAlertType !=''">
            CASE
            WHEN tas.alert_type=#{checkAlertType} THEN 1
            ELSE 2
            END,
        </if>
        tas.deal_flag asc, tas.create_time desc) t
    </select>

    <insert id="insertTerAlertSystem">
        insert into ter_alert_system
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="terSn != null">ter_sn,</if>
            <if test="alertType != null">alert_type,</if>
            <if test="sensorType != null">sensor_type,</if>
            <if test="wifiType != null">wifi_type,</if>
            <if test="buildingId != null">building_id,</if>
            <if test="floorId != null">floor_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="pointId != null">point_id,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="dealFlag != null">deal_flag,</if>
            <if test="dealTime != null">deal_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="terSn != null">#{terSn},</if>
            <if test="alertType != null">#{alertType},</if>
            <if test="sensorType != null">#{sensorType},</if>
            <if test="wifiType != null">#{wifiType},</if>
            <if test="buildingId != null">#{buildingId},</if>
            <if test="floorId != null">#{floorId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="pointId != null">#{pointId},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="dealFlag != null">#{dealFlag},</if>
            <if test="dealTime != null">#{dealTime},</if>
        </trim>
    </insert>


    <select id="queryAlertSystemLaste" resultMap="TerAlertSystemResult">
        <include refid="selectTerAlertSystemVo"/>
        where ter_sn = #{terSn}
        <if test="alertType != null and alertType != ''">
            and alert_type = #{alertType}
        </if>
        <if test="sensorType != null and sensorType != ''">
            and sensor_type = #{sensorType}
        </if>
        order by create_time desc limit 1
    </select>
    <select id="selectTerAlertSystemById" resultMap="TerAlertSystemResult">
        <include refid="selectTerAlertSystemVo"/>
        where tas.id = #{id}
    </select>
    <select id="selectTerAlertSystemCount" resultType="com.ruoyi.iotlighting.domain.TerAlertCount">

        select tas.alert_type as sensorType, count(1) as count
        from ter_alert_system tas
                 left join building_info bi on (tas.building_id = bi.id)
                 inner join sys_dept d on (bi.dept_id = d.dept_id)
        where tas.deal_flag = '0'
            ${params.dataScope}
        group by tas.alert_type

    </select>

    <update id="updateTerAlertSystem" parameterType="TerAlertSystem">
        update ter_alert_system
        <trim prefix="SET" suffixOverrides=",">
            <if test="terSn != null">ter_sn = #{terSn},</if>
            <if test="sensorType != null">sensor_type = #{sensorType},</if>
            <if test="alertType != null">alert_type = #{alertType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="dealTime != null">deal_time = #{dealTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="dealFlag != null">deal_flag = #{dealFlag},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateTerAlertSystemBatch" parameterType="Long">
        update ter_alert_system set deal_flag = '1',deal_time = now() where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>
